/* navbar-start */
.top-nav{
	margin-bottom: 3em;
}
.mobile-nav{
	padding-top:1em;
}

.mobile-nav img{
	height: 2em;
	width: 4em;
	margin-right: 3em;
}
#hamburger{
	margin-left: 1em;
	margin-right: 2em;
}
/* navbar-end */

/* jumbotron-start */
#bg-bg{
	display: none;
}
#comfort{
	font-size: 2em;
	font-weight: bold;
	margin-top: 5em;
	margin-left: 5em;
}
#btn-shop{
    margin-left: 10em;
    width: 10em;
    height: 3em;
    border-radius: 0.5em;
}
#jumbotron{

	margin-top: 3em;
    height: 430px;
}
/* jumbotron-end */

/*ads start*/
#mw-section{
	background-color: yellow;
	height: 20em;
}
.ad-card{
	background-color: rgba(0,0,0);
	color: rgba(255,255,255);
	height: 220px;
	margin-top: 10em;
}
.card-title{
	font-size: 2em;
}
.card-body a{
	color: rgba(255,255,255);
	font-size: 1.5em;
}
/*ads end*/
/*carousel start*/
.card-img-top{
	height: 200px;
}
.new-arrivals{
	font-weight: bolder;
	font-size:2em;
	margin-top: 2em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.new-kicks{
	font-weight: bolder;
	font-size:2em;
	margin-top: 2em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*carousel end*/
/*newsletter start*/
.news button{
	background-color: #ffffff00;
    width: 10em;
    height: 3em;
   	margin-top: 2em;
   	margin-bottom: 2em;
}
.news h1{
	
	margin-bottom:1em;
}
/*newsletter end*/
/*footer start*/
.footer{
	background-color: black;
	margin-top: 1em;
}
.account{
	padding-left: 4em;
	padding-top: 2em;
	color: rgba(255,255,255);
}
.account a{
	color:rgba(255,255,255);
	padding: 2em 1em 0em 0em;
}
.footer-right{
	padding-left: 1em;
}
.follow-tag{
	padding: 2em 0em 1em 0em;
	color: rgba(255,255,255);
}
.socials{
	padding: 0.5em 1em 1em 0em;;
}
.socials:hover{
	color: rgba(255,0,255,1);
}
.copyright{
	color: rgba(211,211,211);
}
/*footer end */
/*signup*/
.purple{
	background-color: rgb(255,218,185);
	height: 650px;
}

/*sale*/
.sale{
	background: linear-gradient(180deg, #000000 0%, rgba(119, 31, 63, 0) 98.96%);
	border-radius: 50px;
	margin-top: 3em;
	height: 300px;
}
.sale h2,h4{
	margin-top: 2em;
	color: rgba(0,0,0);
	font-weight: bolder;
	letter-spacing: 2px;
}
.filter-row{
	margin-top: 3em;
	background-color: rgba(211,211,211,0.4);
}
#sort{
	margin-top: 1em;
}
.card{
	margin:2em;
}
.fa-heart{
	margin-left: 4em;
}
.shoe-samples{
	display: inline-flex;
}

@media screen and (max-width: 600px) {
	.top-nav{
		display: none !important;
	}
	#comfort{
		font-size: 2em;
		margin-top: 1em;
		margin-left: 2.7em;
		margin-bottom: 0%;
	}
	#btn-shop{
		margin-left: 5.5em;
	}
	.background{
		display: none;
	}
	.ad-ad-m{
		margin-top:0.5em;
	}
	.ad-ad{
		background-color: yellow;
		padding-bottom:2em;
	}
	.new-arrivals{
		margin-top:10em;
	}
	.new-kicks{
		font-weight: bolder;
		font-size:2em;
		margin-top: 3em;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
	.footer{
		display: none;
	}
	.socials{
		padding: 0.1em 0em 2em 0em;
	}
	#bg-bg{
		display: inline !important;
		height: 10em;
		width: auto;
	}
}
@media screen and (min-width: 600px) {
	.mobile-nav{
		display: none !important;
	}
}


.search-bar {
 position: absolute;
 margin-left: 45em ;
 padding-bottom: 5em;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 60px;
 border-radius: 40px;
 padding: 10px;
}

.search-bar:hover > .search-txt {
 width: 240px;
 padding: 0 6px;
}

.search-bar:hover > .search-btn {
 background-color: tomato;
 color: black;
}

.search-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
}

.search-btn > i {
 font-size: 30px;
}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}