/* navbar-start */
.top-nav{
	margin-bottom: 3em;
}
.mobile-nav{
	padding-top:1em;
}

.mobile-nav img{
	height: 2em;
	width: 4em;
	margin-right: 3em;
}
#hamburger{
	margin-left: 1em;
	margin-right: 2em;
}
/* navbar-end */
/* search bar */
.modal-content{
	padding:1em;
	background-color: rgba(0,0,0);
	color: rgba(255,255,255);
}

/* jumbotron-start */
#bg-bg{
	display: none;
}
#comfort{
	font-size: 2em;
	font-weight: bold;
	margin-top: 5em;
	margin-left: 5em;
}
#btn-shop{
    margin-left: 10em;
    width: 10em;
    height: 3em;
    border-radius: 0.5em;
}
#jumbotron{

	margin-top: 3em;
    height: 430px;
}
/* jumbotron-end */

/*ads start*/
#mw-section{
	background-color: yellow;
	height: 20em;
}
.ad-card{
	background-color: rgba(0,0,0);
	color: rgba(255,255,255);
	height: 220px;
	margin-top: 10em;
}
.card-title{
	font-size: 2em;
}
.card-body a{
	color: rgba(255,255,255);
	font-size: 1.5em;
}
/*ads end*/
/*carousel start*/
.card-img-top{
	height: 200px;
}
.new-arrivals{
	font-weight: bolder;
	font-size:2em;
	margin-top: 2em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.new-kicks{
	font-weight: bolder;
	font-size:2em;
	margin-top: 2em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*carousel end*/
/*newsletter start*/
.news button{
	background-color: #ffffff00;
    width: 10em;
    height: 3em;
   	margin-top: 2em;
   	margin-bottom: 2em;
}
.news h1{
	
	margin-bottom:1em;
}
/*newsletter end*/
/*footer start*/
.footer{
	background-color: black;
	margin-top: 1em;
}
.account{
	padding-left: 4em;
	padding-top: 2em;
	color: rgba(255,255,255);
}
.account a{
	color:rgba(255,255,255);
	padding: 2em 1em 0em 0em;
}
.footer-right{
	padding-left: 1em;
}
.follow-tag{
	padding: 2em 0em 1em 0em;
	color: rgba(255,255,255);
}
.socials{
	padding: 0.5em 1em 1em 0em;;
}
.socials:hover{
	color: rgba(255,0,255,1);
}
.copyright{
	color: rgba(211,211,211);
}
/*footer end */
/*signup*/
.purple{
	background-color: rgb(255,218,185);
	height: 650px;
}

/*sale*/
.sale{
	background: linear-gradient(180deg, #000000 0%, rgba(119, 31, 63, 0) 98.96%);
	border-radius: 50px;
	margin-top: 3em;
	height: 300px;
}
.sale h2,h4{
	margin-top: 2em;
	color: rgba(0,0,0);
	font-weight: bolder;
	letter-spacing: 2px;
}
.filter-row{
	margin-top: 3em;
	background-color: rgba(211,211,211,0.4);
}
#sort{
	margin-top: 1em;
}
.card{
	margin:2em;
}
.fa-heart{
	margin-left: 4em;
}
.shoe-samples{
	display: inline-flex;
}
/* cart */
 #cart-hr{	
	border: 1px solid black;	  
}
.cart-hr{
	border:1px solid black;
} 
#cart-img{
	height: 5em;
	width: 5em;
	margin: 0em 1em 1em 1em;
}
.cart-image{
	display: inline-flex;
}
.order-summary{
	padding-top: 0.75em;
}
#checkout-btn{
	margin:2em 0em 0em 5em;
}
/* invoice */
#invoice-img{
	height:5em;
	width:5em;
}
@media screen and (max-width: 600px) {
	.top-nav{
		display: none !important;
	}
	#comfort{
		font-size: 2em;
		margin-top: 1em;
		margin-left: 2.7em;
		margin-bottom: 0%;
	}
	#btn-shop{
		margin-left: 5.5em;
	}
	.background{
		display: none;
	}
	.ad-ad-m{
		margin-top:0.5em;
	}
	.ad-ad{
		background-color: yellow;
		padding-bottom:2em;
	}
	.new-arrivals{
		margin-top:10em;
	}
	.new-kicks{
		font-weight: bolder;
		font-size:2em;
		margin-top: 3em;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
	.footer{
		display: none;
	}
	.socials{
		padding: 0.1em 0em 2em 0em;
	}
	#bg-bg{
		display: inline !important;
		height: 10em;
		width: auto;
	}
}
@media screen and (min-width: 600px) {
	.mobile-nav{
		display: none !important;
	}
}

/* horizontal scroll bar */

.scrolling-wrapper{
	overflow-x: auto;
}

body{
	background-color: black;
	color: #fff;
	font-family: 'system-ui';
}

h1{
	font-weight: 800;
	font-size: 3em;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}

.card-block{
	height: 250px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
}
.card-block:hover{
	transform: translateY(-5px);
	box-shadow: none;
}

.card-1{
	background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-2{
	background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card-3{
	background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.card-4{
	background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.card-5{
	background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.card-6{
	background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-7{
	background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-8{
	background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.card-9{
	background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-10{
	background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}